name: RDP

on:
  workflow_dispatch:
    inputs:
      rdp_user:
        description: "Enter RDP Username"
        required: true
        type: string
      rdp_pass:
        description: "Enter RDP Password"
        required: true
        type: string

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 3600

    steps:

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0 -Force
          netsh advfirewall firewall delete rule name="RDP-Allow"
          netsh advfirewall firewall add rule name="RDP-Allow" dir=in action=allow protocol=TCP localport=3389
          Restart-Service -Name TermService -Force

      - name: Create User (from inputs)
        run: |
          $Username = "${{ github.event.inputs.rdp_user }}"
          $Password = "${{ github.event.inputs.rdp_pass }}"
          $securePass = ConvertTo-SecureString $Password -AsPlainText -Force

          New-LocalUser -Name $Username -Password $securePass -AccountNeverExpires
          Add-LocalGroupMember -Group "Administrators" -Member $Username
          Add-LocalGroupMember -Group "Remote Desktop Users" -Member $Username

          echo "RDP_USER=$Username" >> $env:GITHUB_ENV
          echo "RDP_PASS=$Password" >> $env:GITHUB_ENV

      - name: Install Tailscale
        run: |
          $Url = "https://pkgs.tailscale.com/stable/tailscale-setup-1.82.0-amd64.msi"
          $Path = "$env:TEMP\tailscale.msi"
          Invoke-WebRequest -Uri $Url -OutFile $Path
          Start-Process msiexec.exe -ArgumentList "/i `"$Path`" /quiet /norestart" -Wait

      - name: Connect to Tailscale
        run: |
          & "$env:ProgramFiles\Tailscale\tailscale.exe" up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=gh-runner-${{ github.run_id }}
          Start-Sleep 5
          $tsip = & "$env:ProgramFiles\Tailscale\tailscale.exe" ip -4
          echo "TAILSCALE_IP=$tsip" >> $env:GITHUB_ENV

      - name: Show RDP info
        run: |
          Write-Host "=========================================="
          Write-Host "   RDP CONNECT INFO"
          Write-Host "------------------------------------------"
          Write-Host "IP: $env:TAILSCALE_IP"
          Write-Host "User: $env:RDP_USER"
          Write-Host "Pass: $env:RDP_PASS"
          Write-Host "=========================================="

      - name: Keep Session Alive
        run: |
          while ($true) {
            Write-Host "Runner Active... $(Get-Date)"
            Start-Sleep -Seconds 300
          }
